body {
    background-color: #F4A460;
}
#Head {
    color: #9600B2;
}
#P1 {
    color: #3CFF00;
}
#Img {
    width:2000px;
    height: 850px;
    margin-left: -20px;
    margin-bottom: -20px;
}
b {
    font-size: 20px;
}
