html {
  background-color: #736F6F; 
}
#all{
   background-color: #736F6F; 
}
.page-top {
     padding-top:75px;
}
.page-top > h1 {
     font-size: 4em;
}
.page-top > p {
     font-size: 1.5em;
}


#bar{
     padding-top:50px;
     padding-bottom:50px;
}
.nav-pills a {
     font-family: 'chewy',fantasy;
}
.tab-content {
     padding-top:25px;
}
